html, body, #container {
    height: 100%;
}

body {
    margin: 0px;
    background-color: #EFF6FF;
}

#container {
    display: flex;
}

#accMenu > a {
    color: white;
    text-decoration: none;
}

.whiteText {
    color: white;
}

#myBlogBtn {
    border: none;
    border-radius: 7px;
    filter: blur(0.5px);

    background-color: white;
    color: #D48166;

    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#sidebar {
    background-color: #A3C2F1;
    min-width: 220px;
    min-height: 100%;

    overflow: hidden;
    overflow-y: auto;
}

#sidebar::-webkit-scrollbar{
    width: 5px;
}

#sidebar::-webkit-scrollbar-track {
    background-color: darkgray;
}

#sidebar::-webkit-scrollbar-thumb { 
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); 
}

#sidebarHeader {
    flex-grow: 2;
    justify-content: center;
}

#sidebarHeader > * {
    margin: 5px;
    font-size: 14px;
}

#sidebarMain {
    flex-grow: 8;
}

#sidebarInner {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    height: 100%;
    min-height: 450px;
}

#footer {   
    background-color: #212221;
}

#blogList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#article {
    margin: 10px;
    overflow: hidden;
    overflow-y: auto;
}

.blogItem {
    margin: 3px;
}

.sidebarContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}

.smallText {
    font-size: 12px;
}