html, body, #container {
    height: 100%;
}

body {
    margin: 0px;
    background-color: #EFF6FF;
}

section {
    display: none;
}

a {
    color : black;
    text-decoration: none;
}

input {
    border: none;
}

input[type="radio"] {
    display: none;
}

button {
    background-color: transparent;
    border: none;
}

#container {
    display: flex;
}

#accMenu {
    text-align: center;
}

#accMenu > a {
    color: white;
    background-color: #5555FF;
    text-decoration: none;

    border-radius: 8px;
    padding: 2px;
}

#accMenu > * {
    font-size: 16px;
}

.whiteText {
    color: white;
}

#myBlogBtn {
    border: none;
    border-radius: 7px;
    filter: blur(0.5px);

    background-color: white;
    color: #D48166;

    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#sidebar {
    background-color: #A3C2F1;
    min-width: 220px;
    min-height: 100%;

    overflow: hidden;
    overflow-y: auto;
}

#sidebar::-webkit-scrollbar{
    width: 5px;
}

#sidebar::-webkit-scrollbar-track {
    background-color: darkgray;
}

#sidebar::-webkit-scrollbar-thumb { 
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); 
}

#sidebarHeader {
    flex-grow: 2;
    justify-content: center;
}

#sidebarHeader > * {
    margin: 5px;
    font-size: 14px;
}

#sidebarMain {
    flex-grow: 8;
}

#sidebarInner {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    height: 100%;
    min-height: 450px;
}

#footer {   
    background-color: #212221;
    height: 8%;
}

#blogList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#article {
    width: 100%;

    overflow: hidden;
}

#contentsContainer {
    margin-top: 15px;
}

.blogItem {
    margin: 3px;
    width: 30%;
    text-align: center;
}

.blogText {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sidebarContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}

.smallText {
    font-size: 12px;
}

.tabs {
    font-size: 18px;
    margin: 0px 5px 0px 5px;
}

.tabOn {
    border-bottom: 1px solid black;
}

.searchContents {
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.postHeader {
    display: flex;
    justify-content: space-between;
}

.postHeader > h2 {
    display: inline;
}

.postHeader span {
    height:fit-content
}

#postSection {
    background-color: white;
    width: 100%;
    height: 80vh;

    border-radius: 15px;
    overflow: auto;

    flex-flow: column;
}

#main {
    height: 92%;
    padding: 12px;

    min-width: 650px;
}

#searchResult {
    display: none;
}

#searchDiv {
    display: none;
    min-height: 115px;

    align-items: center;
}

#searchInput {
    display: flex;
    background-color: white;

    padding: 3px 5px 3px 5px;
    justify-content: center;

    border-radius: 15px;

    height: fit-content;
}

#headLine {
    font-weight: bold;
    font-size: 24px;
    margin: 10px 0px 10px 0px;
}

@keyframes resize {
    from {
        transform: scale(1.0);
    }
    to {
        transform: scale(0.3);
    }
}