@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('/static/fonts/Cafe24SsurroundAir.ttf') format('truetype');
}

* {
    font-family: Cafe24SsurroundAir;
}

.btns {
    text-align: center;
    cursor: pointer;
}

.headerLogo {
    margin: 10px;
}

button {
    cursor: pointer;
}
