html, body {
    height: 100%;
    min-height: 400px;
}

body { 
    margin: 0px;
    background-color: #EFF6FF;
}

header {
    height: 15%;
    min-height: 100px;
}

footer {
    background-color: black;
    height: 5%;
}

article {
    height: 80%;
    min-height: 450px;
    text-align: center;
}

h2, h4 {
    margin: 3px 0px 3px 0px;
    justify-self: start;
    text-align: start;
}

input, select, button {
    border: none;
    border-radius: 7px;
}

input {
    width: 100%;
    background-color: #E5F0FF;
    margin: 0px 3px 0px 3px;
}

label {
    width: 100%;
    text-align: right;
}

button {
    width: 90%;
}

select {
    width: 55%;
    background-color: #CECECE;
}

a {
   color: #202020;
   text-decoration: none; 
}

table {
    width: 100%;
}

#mainDiv {
    width: 450px;
    background-color: white;
    border-radius: 15px;

    display: inline-block;
    text-align: center;
}

#container {
    margin: 20px
}

#expText {
    text-align: start;
}

#applyBtn {
    background-color: #AACCFF;
    width: 150px;
    height: 30px;
    border-radius: 20px;

    font-size: 22px;
}

#findPasswordAnswer {
    width: 55%;
}

.solidLine {
    border-top: 2px black solid;
}

.dashLine {
    border-top: 1px dashed #9A9A9A;
}

.alertMsg {
    font-size: 12px;
    color: #FF6C6C;
    visibility: hidden;
}

.blankSpace {
    flex-grow: 1;
    visibility: hidden;
}

.labelTd {
    text-align: right;
}

.alertTd {
    text-align: left;
}

