/* 색 변수 지정 */
:root {
    --main-color: #A3C2F1;
    --light-blue: #EFF6FF;
    --dark-blue: #025b96;
    --logout-button: #D8FF80;
    --blog-info: #D48166;
    --button-orange: #DEB992;
    --button-green: #A7BC5B;
    --button-blue: #7DA2A9;
    --bright-green: #80FF80;
    --bright-red: #FF8080;
    --edit-red: #E03030;
    --edit-blue: #3030E0;
    --edit-green: #30E030;
}
/* 폰트 */
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('../../fonts/Cafe24SsurroundAir.ttf') format('truetype');
}

* {
    outline: none;
    margin: 0;
}

body {
    /*혹시 스크롤바가 생겨도 보이지 않게 함*/
    overflow: hidden;
}

/* three.js 사용 환경 */
#webgl-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* pointer lock 되었을 때 중심 표시 */
.target-pointer {
    display: none;
    position: fixed;
    font-size: 4vh;

    margin-top: -2vh;
    margin-left: -2vh;
}

/* 메뉴 사용 환경 */
.menu-area {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;

    width: 100%;
    height: 100%;

    background-color: white;
    opacity: 50%;
}

/* 오브젝트 선택 시 게시물 열람 창 */
.object-post-view {
    display: none;
    z-index: 12000;

    margin-left: 16vh; /* 메뉴 바 공간만큼 */
}
.close-post {
    display: block;
    position: relative;
    z-index: 12000;

    float: right;
    padding: 1vh 2.3vh 1vh 2.3vh;
    margin: 3vh;

    background-color: var(--main-color);
    border-radius: 2vh;
    font-family: 'Cafe24SsurroundAir';
    font-size: 3vh;

    cursor: pointer; /* 마우스 커서 모양 */
}


/* ------------------------------------------------------ 메뉴 바 --------------------------------------------------------*/
/* 메뉴 바 버튼 */
.menu-button {
    position: fixed;
    top: 3vh;
    left: 4vh;
    z-index: 10000;

    width: 8vh;
    height: 8vh;
    background-color: white;
    border-radius: 50%; /* 메뉴 아이콘 둥글게 */
    
    text-align: center;
    align-items: center;

    cursor: pointer; /* 마우스 커서 모양 */
}
/* 메뉴 바 열기 아이콘*/
.bi-list{
    display: block;
    font-size: 5.5vh;
}
/* 메뉴 바 닫기 아이콘 */
.bi-x-menu {
    display: none;
    font-size: 5.5vh;
}
/* 메뉴 바 프레임 */
.menu-bar {
    position: fixed;
    top: 0;
    left: -16vh;
    z-index: 9000;

    width: 16vh;
    height: 100%;
    background-color: var(--main-color);

    transition: all .35s;
    text-align: center;
}
/* 로고 */
.logo-icon {
    display: inline-block;
    position: relative;
    top: 13vh;

    width: 11.3vh;
    height: 11.3vh;

    cursor: pointer; /* 마우스 커서 모양 */
}
/* 로그인 버튼 */
.login-button {
    display: none;
    position: relative;
    top: 15.5vh;

    background-color: var(--logout-button);
    padding: 0.7vh 1.8vh 0.7vh 1.8vh;
    border-radius: 3vh;

    font-family: 'Cafe24SsurroundAir';
    font-size: 2.2vh;

    cursor: pointer; /* 마우스 커서 모양 */
}
/* 로그아웃 버튼 */
.logout-button {
    display: inline-block;
    position: relative;
    top: 15.5vh;

    background-color: var(--logout-button);
    padding: 0.7vh 1.8vh 0.7vh 1.8vh;
    border-radius: 3vh;

    font-family: 'Cafe24SsurroundAir';
    font-size: 2.2vh;

    cursor: pointer; /* 마우스 커서 모양 */
}
/* 블로그 정보 */
.blog-info {
    display: inline-block;
    position: relative;
    top: 18vh;

    background-color: white;
    padding: 1vh 2vh 1vh 2vh;
    border-radius: 1vh;

    font-family: 'Cafe24SsurroundAir';
    color: var(--blog-info);
}
.blog-name {
    font-size: 2.5vh;
}
.blog-owner {
    margin-top: 1vh;
    font-size: 2vh;
}
/* 오브젝트 추가 버튼 */
.bi-box {
    display: inline-block;
    position: relative;
    top: 25vh;
    left: 0vh;

    font-size: 5vh;
    background-color: var(--button-orange);
    padding: 1vh 2.2vh 1.5vh 2.2vh;
    border-radius: 50%;

    cursor: pointer; /* 마우스 커서 모양 */
}
/* 편집모드 버튼 */
.bi-tools {
    display: inline-block;
    position: relative;
    top: 28vh;
    left: 0vh;

    font-size: 4.5vh;
    background-color: var(--button-green);
    padding: 1.2vh 2.4vh 1.5vh 2.2vh;
    border-radius: 50%;

    cursor: pointer; /* 마우스 커서 모양 */
}
/* 게시물 리스트 버튼 */
.bi-file-text {
    display: inline-block;
    position: relative;
    top: 31vh;
    left: 0vh;

    font-size: 5vh;
    background-color: var(--button-blue);
    padding: 1vh 2.2vh 1.5vh 2.2vh;
    border-radius: 50%;

    cursor: pointer; /* 마우스 커서 모양 */
}
/* 하단 메뉴 */
.bottom-menu {
    position: relative;
    top: 42vh;

    cursor: pointer; /* 마우스 커서 모양 */
}
.bi-search, .bi-shuffle {
    font-size: 3vh;
    margin: 0.5vh;
    padding: 0.6vh 1.2vh 0.8vh 1.2vh;
    border-radius: 50%;
}
/* 검색 버튼 */
.bi-search {
    background-color: var(--button-orange);
}
/* 랜덤 방문 버튼 */
.bi-shuffle {
    background-color: var(--button-blue);
}

/* ------------------------------------------------ 오브젝트 추가 ------------------------------------------------------*/
.object-add {
    display: none;
    z-index: 10000;

    margin-left: 16vh; /* 메뉴 바 공간만큼 */

    text-align: center;
    align-items: center;

    cursor: pointer; /* 마우스 커서 모양 */
}
/* 오브젝트 리스트 */
.object-list {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    position: relative;
    margin: 0 5vh 0 5vh;
    top: 70vh;

    width: auto;
    height: 27vh;
    background-color: var(--light-blue);

    text-align: center;
    align-items: center;
}
/* 이전 목록, 다음 목록 이동 버튼 */
.object-list-left, .object-list-right {
    position: relative;
    font-size: 6vh;
}
/* 오브젝트 이미지 */
.object-thumbnail {
    display: block;
    position: relative;
    width: 25vh;
    height: 25vh;
    margin: 0 auto;
}
/* 오브젝트 좌방향 회전 버튼 */
.bi-arrow-counterclockwise, .bi-arrow-clockwise {
    display: inline;
    position: relative;
    float: right;
    top: 35.5vh;
    margin-right: 1.2vh;

    font-size: 5.5vh;
}
.bi-arrow-clockwise {
    margin-right: 2vh;
}
/* 오브젝트 리스트 열고 닫기 버튼 */
.list-show {
    display: inline;
    position: relative;
    float: right;
    top: 35.5vh;
    margin-right: 1.2vh;

    color: var(--dark-blue);
}
/* 오브젝트 리스트 닫기 */
.bi-caret-down-fill {
    display: block;
    font-size: 5.5vh;
}
/* 오브젝트 리스트 열기 */
.bi-caret-up-fill {
    display: none;
    font-size: 5.5vh;
}
/* 오브젝트 추가 취소 버튼 */
.select-cancle {
    display: inline;
    position: relative;
    float: right;
    top: 37vh;
    margin-right: 1vh;
    padding: 1vh 2.5vh 1vh 2.5vh;
    z-index: 12000;

    font-family: 'Cafe24SsurroundAir';
    font-size: 2vh;

    background-color: var(--main-color);;
    border-radius: 1.5vh;
}
/* 오브젝트 추가 완료 버튼 */
.select-complete {
    display: inline;
    position: relative;
    float: right;
    top: 37vh;
    margin-right: 6vh;
    padding: 1vh 2.5vh 1vh 2.5vh;
    z-index: 12000;

    font-family: 'Cafe24SsurroundAir';
    font-size: 2vh;

    background-color: var(--main-color);;
    border-radius: 1.5vh;
}
/* 게시물 작성 또는 연결 선택 페이지 */
.post-write-or-link {
    display: none;
    z-index: 12000;

    margin-left: 31vh; /* 메뉴 바 + 추가하기 버튼 공간만큼 */
}
/* 게시물 작성 또는 연결 페이지 제목 */
.post-write-or-link-title {
    display: inline-block;
    position: relative;
    z-index: 12000;

    margin-top: 5vh;
    margin-left: 1vh;

    font-family: 'Cafe24SsurroundAir';
    font-size: 5vh;
}
/* 게시물 연결 패스 버튼 */
.post-pass-button {
    display: inline-block;
    position: relative;
    z-index: 12000;

    margin-left: 58.5vw;
    padding: 1vh 2.3vh 1vh 2.3vh;

    background-color: var(--main-color);
    border-radius: 2vh;
    font-family: 'Cafe24SsurroundAir';
    font-size: 3vh;

    cursor: pointer; /* 마우스 커서 모양 */
}
/* 게시물 작성 또는 연결 선택 공간 */
.post-write-or-link-choice {
    display: grid;
    grid-template-columns: 20fr 1fr 20fr;
    position: relative;
    z-index: 12000;
    margin-top: 2vh;

    width: 82vw;
    height: 82vh;
    text-align: center;

    background-color: white;
    border-radius: 3vh;
}
/* 세로 구분선 */
.half-line {
    display: block;
    position: relative;
    border-left: medium solid darkgray;
    height: 78vh;
    margin-top: 2vh;
}
/* 게시물 작성 및 연결 안내 공간 */
.post-write-choice, .post-link-choice {
    z-index: 12000;
}
/* 게시글 작성 및 연결 아이콘 */
.post-write-icon, .post-link-icon {
    margin-top: 9vh;
    width: 43vh;
    height: 43vh;
}
/*게시물 작성 및 연결 안내글*/
.post-write-comment, .post-link-comment {
    margin: 4vh;
    font-family: 'Cafe24SsurroundAir';
    font-size: 3.8vh;
}
/*게시물 작성 및 연결 버튼*/
.post-write-button, .post-link-button {
    display: block;
    margin: 4vh 29vh 4vh 29vh;
    padding: 2vh;
    border-radius: 3vh;

    font-family: 'Cafe24SsurroundAir';
    font-size: 2.8vh;

    cursor: pointer; /* 마우스 커서 모양 */
}
.post-write-button {
    background-color: var(--button-orange);
}
.post-link-button {
    background-color: var(--button-blue);
}
/* 게시물 작성 페이지 */
.post-write-view {
    display: none;
    z-index: 12000;

    margin-left: 31vh; /* 메뉴 바 + 추가하기 버튼 공간만큼 */
}
/* 게시물 작성 페이지 제목 */
.post-write-title {
    display: inline-block;
    position: relative;
    z-index: 12000;

    margin-top: 5vh;
    margin-left: 1vh;

    font-family: 'Cafe24SsurroundAir';
    font-size: 5vh;
}
/* 메모 */
.memo {
    display: block;
    position: relative;
    z-index: 12000;

    margin-top: 2vh;
    margin-left: 1vh;

    font-family: 'Cafe24SsurroundAir';
    font-size: 3vh;
}
/* 게시물 연결 페이지 */
.post-link-view {
    display: none;
    z-index: 12000;

    margin-left: 31vh; /* 메뉴 바 + 추가하기 버튼 공간만큼 */
}
/* 게시물 연결 페이지 제목 */
.post-link-title {
    display: inline-block;
    position: relative;
    z-index: 12000;

    margin-top: 5vh;
    margin-left: 1vh;

    font-family: 'Cafe24SsurroundAir';
    font-size: 5vh;
}
/* 게시물 연결 리스트 나타날 공간 */
.post-link-frame {
    display: block;
    position: relative;
    z-index: 12000;
    margin-top: 2vh;

    width: 82vw;
    height: 82vh;
    text-align: center;

    background-color: white;
    border-radius: 3vh;
}
/* 연결 게시물 선택 완료 버튼 */
.post-link-complete-button {
    display: inline-block;
    position: relative;
    z-index: 12000;

    margin-left: 56vw;
    padding: 1vh 2.3vh 1vh 2.3vh;

    background-color: var(--main-color);
    border-radius: 2vh;
    font-family: 'Cafe24SsurroundAir';
    font-size: 3vh;

    cursor: pointer; /* 마우스 커서 모양 */
}
/* 연결할 물건 표시 */
.post-link-image-frame {
    display: flex;
    position: relative;
    z-index: 12000;

    text-align: center;
    align-items: center;
}
/* 연결할 물건 썸네일 안내글 */
.post-link-image-comment {
    display: inline-block;
    position: relative;
    z-index: 12000;
    margin: 0.5vh 1vh 0 auto;

    font-family: 'Cafe24SsurroundAir';
    font-size: 3.5vh;
}
/* 연결할 물건 썸네일 이미지 */
.post-link-image {
    display: inline-block;
    position: relative;
    z-index: 12000;
    margin: 0.5vh auto 0 0;

    width: 23vh;
    height: 23vh;
}
/* 연결할 게시물 목록 공간 */
.link-post-list-view {
    display: block;
    position: relative;
    z-index: 12000;
    margin: -2vh auto 0 auto;

    width: 76vw;
    height: 55vh;
    overflow: auto; /* 공간 넘어가면 스크롤 생성 */

    background-color: var(--light-blue);
    border-radius: 3vh;
}
/* 스크롤바 디자인 */
.link-post-list-view::-webkit-scrollbar {
    width: 0.5vw;
}
.link-post-list-view::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue);
    border-radius: 1vh;
}
.link-post-list-view::-webkit-scrollbar-track {
    background-color: var(--main-color);
    border-radius: 1vh;
}
/* 게시물 목록 하나 */
.post-text-div {
    margin: 2vw;
}
/* 게시물 라벨 */
.post-text-label {
    display: flex;
    position: relative;
    margin: 3vh 0 3vh 0;

    text-align: left;
    align-items: center;

    cursor: pointer; /* 마우스 커서 모양 */
}
/* 게시물 라디오 버튼 */
.post-text-radio {
    display: inline-block;
    position: relative;
    margin: 0 5vh 0 5vh;

    width: 2.3vh;
    height: 2.3vh;

    accent-color: black; /* 라디오버튼 색상 */
}
/* 게시물 제목 + 작성일 */
.post-text {
    display: inline-block;
    position: relative;

    font-family: 'Cafe24SsurroundAir';
}
/* 게시물 제목 */
.post-text-title {
    font-size: 4vh;
}
/* 게시물 작성일 */
.post-text-date {
    font-size: 3vh;
}
/* 게시물 구분선 */
.post-text-hr {
    width: 72vw;
}

/* ----------------------------------------- 편집 모드 ------------------------------------------------- */
.edit-mode {
    display: none;
    z-index: 10000;
    margin-left: 16vh; /* 메뉴 바 공간만큼 */

    text-align: center;
    align-items: center;

    cursor: pointer; /* 마우스 커서 모양 */
}
/* 오브젝트 편집 버튼 */
.object-edit-buttons {
    display: block;
    position: relative;
    float: left;
    margin-left: 4vh;
    top: 90vh;
    
    align-items: center;

    font-size: 4vh;
    opacity: 50%; /* 비활성화 상태 */
}
/* 오브젝트 삭제 버튼 */
.object-delete {
    display: inline-block;
    padding: 0.8vh 1.3vh;

    background-color: var(--edit-red);
    border-radius: 50%;
}
/* 오브젝트 이동 버튼 */
.bi-arrows-move {
    display: inline-block;
    padding: 0.8vh 1.3vh;

    background-color: var(--edit-blue);
    border-radius: 50%;
}

/* 오브젝트 이동 완료 버튼 */
.object-move-complete {
    display: none;
    position: relative;
    float: left;
    top: 88vh;
    z-index: 12000;

    padding: 1vh 2.3vh 1vh 2.3vh;
    margin: 3vh;

    background-color: var(--main-color);
    border-radius: 2vh;
    font-family: 'Cafe24SsurroundAir';
    font-size: 3vh;
}

/* 오브젝트 변경 버튼 */
.bi-arrow-left-right {
    display: inline-block;
    padding: 0.8vh 1.3vh;

    background-color: var(--edit-green);
    border-radius: 50%;
}
/* 오브젝트 변경을 위한 리스트 */
.object-change-view {
    display: none;
    z-index: 13000;

    margin-left: 16vh; /* 메뉴 바 공간만큼 */

    text-align: center;
    align-items: center;

    cursor: pointer; /* 마우스 커서 모양 */
}
/* 오브젝트 리스트 */
.change-object-list {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    position: relative;
    margin: 0 5vh 0 5vh;
    top: 71vh;

    width: auto;
    height: 27vh;
    background-color: var(--light-blue);

    text-align: center;
    align-items: center;
}
/* 이전 목록, 다음 목록 이동 버튼 */
.change-list-left, .change-list-right {
    position: relative;
    font-size: 6vh;
}
/* 오브젝트 이미지 */
.object-change-thumbnail {
    display: block;
    position: relative;
    width: 25vh;
    height: 25vh;
    margin: 0 auto;
}
/* 오브젝트 추가 완료 버튼 */
.change-complete {
    display: inline;
    position: relative;
    float: right;
    top: 38vh;
    margin-right: 6vh;
    padding: 1vh 2.5vh 1vh 2.5vh;
    z-index: 12000;

    font-family: 'Cafe24SsurroundAir';
    font-size: 2vh;

    background-color: var(--main-color);;
    border-radius: 1.5vh;
}
/* 썸네일 촬영 버튼 */
.capture-button {
    display: grid;
    grid-template-columns: 1fr 5fr;
    position: relative;
    float: right;
    top: 86vh;
    margin: 3vh;
    padding: 1vh 1vh 1vh 2vh;

    align-items: center;
    font-family: 'Cafe24SsurroundAir';
    background-color: white;
    border-radius: 2vh;
}
/* 카메라 아이콘 */
.bi-camera-fill{
    display: inline-block;
    padding: 0 0.4vh 0 0.4vh;
    font-size: 4vh;
}
/* 썸네일 촬영하기 글자 */
.capture-text{
    display: inline-block;
    font-size: 3vh;
}
/* 썸네일 촬영 이미지 확인 페이지 */
.change-thumbnail, .remove-object {
    display: none;
    z-index: 12000;

    margin-left: 42vh; /* 메뉴 바 + 편집모드 버튼 공간만큼 */
}
/* 썸네일 변경 확인 제목 */
.change-thumbnail-title, .remove-object-title {
    display: inline-block;
    position: relative;
    z-index: 12000;

    margin-top: 5vh;
    margin-left: 1vh; 

    font-family: 'Cafe24SsurroundAir';
    font-size: 5vh;
}
/* 썸네일 이미지 */
.change-thumbnail-image {
    display: block;
    position: relative;
    z-index: 12000;
    margin-top: 1vh;

    width: 65vw;
    height: 65vh;
    object-fit: cover;
    border-radius: 3vh;
}
.remove-object-image {
    display: block;
    position: relative;
    z-index: 12000;
    margin-top: 1vh;

    width: 65vw;
    height: 65vh;
    object-fit: contain;
    border-radius: 3vh;
}
/* 썸네일 변경 안내 문구 */
.change-thumbnail-comment, .remove-object-comment {
    display: block;
    position: relative;
    z-index: 12000;
    margin-top: 2vh;
    margin-left: 3vh;

    font-family: 'Cafe24SsurroundAir';
    font-size: 4vh;
}
/* 썸네일 변경 확인 버튼 */
.bi-check-lg, .bi-x-thumbnail, .bi-x-object, .object-thumbnail-check {
    display: inline-block;
    position: relative;
    margin: 1vh;

    z-index: 12000;

    cursor: pointer; /* 마우스 커서 모양 */
}
/* 변경 완료 */
.bi-check-lg, .object-thumbnail-check {
    float: right;
    padding: 1vh 2.2vh 1.5vh 2.2vh;

    font-size: 5.3vh;
    background-color: var(--bright-green);
    border-radius: 50%;
}
/* 변경 취소 */
.bi-x-thumbnail, .bi-x-object {
    float: right;
    margin-right: 10vh;
    padding: 0 1.2vh 0.2vh 1.2vh;

    font-size: 7vh;
    background-color: var(--bright-red);
    border-radius: 50%;
}

/* ----------------------------------------------------- 게시물 리스트 -------------------------------------------------*/
.post-list {
    display: none;
    z-index: 12000;

    margin-left: 31vh; /* 메뉴 바 + 게시물 리스트 버튼 공간만큼 */
}
/* 게시물 리스트 제목 */
.post-list-page-title {
    display: inline-block;
    position: relative;
    z-index: 12000;

    margin-top: 5vh;
    margin-left: 1vh;

    font-family: 'Cafe24SsurroundAir';
    font-size: 5vh;
}
/* 게시물 리스트 공간 */
.post-list-frame {
    display: block;
    position: relative;
    z-index: 12000;
    margin-top: 2vh;

    width: 82vw;
    height: 82vh;
    text-align: center;

    background-color: white;
    border-radius: 3vh;
    overflow: auto;
}
/* 스크롤바 디자인 */
.post-list-frame::-webkit-scrollbar {
    width: 0.5vw;
}
.post-list-frame::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue);
    border-radius: 1vh;
}
.post-list-frame::-webkit-scrollbar-track {
    background-color: var(--main-color);
    border-radius: 1vh;
}
/* 게시물 목록 하나 */
.post-list-text {
    display: inline-block;
    position: relative;
    margin: 0 23vw 5vh 0;
    padding-top: 6vh;
}
/* 게시물 제목 + 작성일 */
.post-list-title, .post-list-date {
    font-family: 'Cafe24SsurroundAir';
    cursor: pointer; /* 마우스 커서 모양 */
}
/* 게시물 제목 */
.post-list-title {
    font-size: 4vh;
}
/* 게시물 작성일 */
.post-list-date {
    margin: 1vh 0 0 3.3vh;
    font-size: 3vh;
}
/* 게시물 수정, 삭제 버튼 */
.post-modify-and-delete {
    display: inline-block;
    position: relative;
    margin-left: 20vw;

    font-family: 'Cafe24SsurroundAir';
    font-size: 2.5vh;

    cursor: pointer; /* 마우스 커서 모양 */
}
/* 게시물 수정하기 버튼 */
.post-modify {
    display: inline-block;
    position: relative;
    padding: 1vh 1.5vh;

    background-color: var(--bright-green);
    border-radius: 3vh 0 0 3vh;
}
/* 게시물 삭제하기 버튼 */
.post-delete {
    display: inline-block;
    position: relative;
    padding: 1vh 1.5vh;
    background-color: var(--bright-red);
    border-radius: 0 3vh 3vh 0;
}
/* 게시물 구분선 */
.post-list-hr {
    margin-left: 4vh;
    width: 77vw;
}