html, body {
    height: 100%;
    min-height: 400px;
}

body { 
    margin: 0px;
    background-color: #EFF6FF;
}

footer {
    background-color: black;
    height: 5%;
}

input {
    width: 250px;
    height: 30px;
    font-size: 16px;

    margin: 3px;
}

a {
    color: black;
    text-decoration: none;
}

article {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 95%;
}

#loginDiv {
    display: flex;
    flex-flow: column wrap;
}

#insideLogin {
    display: flex;
    justify-content: center;
}

#accBtns {
    margin: 3px;
}

#loginBtn {
    width: 80px;
    height: 100%;
    background-color: #C5E6FF;
    font-size: 22px;

    margin-left: 5px;
}

#accBtns {
    text-align: right;
}

.roundCorner {
    border-radius: 7px;
}

.noBorder {
    border: none;
}

.flex-newLine {
    width: 100%;
    height: 0;
}