<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>글 수정 - 놀다가</title>

        <link rel="stylesheet" href="/static/css/post.css" />
        <link rel="stylesheet" href="/static/css/noldaga.css">
        <link rel="stylesheet" href="/static/css/quill.bubble.css"/>
        <link href="/static/css/quill.snow.css" rel="stylesheet" />
        <script src="/static/js/quill.min.js"></script>
    </head>
    <body>
        <div id="container">
            <div id="buttonContainer">
                <button class="btns" id="applyBtn" onclick="applyPost({edit: true, id: <%-post_id%>})">
                    수정하기
                </button>
                <div id="toolbar" class="btns">
                    <select class="ql-size">
                        <option value="small"></option>
                        <option selected>Normal</option>
                        <option value="large"></option>
                        <option value="huge"></option>
                    </select>
                    <button class="ql-bold"></button>
                    <button class="ql-italic"></button>
                    <button class="ql-underline"></button>
                    <button class="ql-strike"></button>
                    <button class="ql-image"></button>
                </div>
            </div>
            <input type="text" id="postTitle" placeholder="제목" value="<%-title%>"/>
            <hr></hr>
            <div id="editor"></div>
        </div>
        <script src="/static/js/post.js"></script>
        <input type="text" id="errHelper"/>
        <script>
            const userData = <%-contents%>;
            qEditor.setContents(userData.ops);
        </script>
    </body>
</html>
