<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 보기 - 놀다가</title>

    <link rel="stylesheet" href="/static/css/noldaga.css">

    <link rel="stylesheet" href="/static/css/quill.bubble.css">
    <link rel="stylesheet" href="/static/css/quill.snow.css">
    <link rel="stylesheet" href="/static/css/viewPost.css">
    <script src="/static/js/quill.min.js"></script>
</head>
<body>
    <table>
        <th>제목</th>
        <th>작성일</th>
    
    <% for(var i = 0 ; i <rows.length; i++ ) {
            var data = rows[i]
    %>
    
    <tr>
        <td><a href="/viewPost/<%= data.post_id %>"><%= data.title %></a> </td>
        <td><%= data.timestamp %></td>
    </tr>
    <%}%>
</table>
    
</body>
</html>