* {
    outline: none;
    margin: 0;
}

body {
    /*혹시 스크롤바가 생겨도 보이지 않게 함*/
    overflow: hidden;
}

#webgl-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 메뉴 바 버튼 */
.menu-button {
    position: fixed;
    top: 3vh;
    left: 2vw;
    z-index: 10000;

    width: 8vh;
    height: 8vh;
    background-color: white;
    border-radius: 50%; /* 메뉴 아이콘 둥글게 */
    
    text-align: center;
    align-items: center;

    cursor: pointer;
}
.bi-list, .bi-x-lg{
    font-size: 5.5vh;
}
.bi-x-lg {
    display: none;
}
.menu-bar {
    width: 8vw;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: -8vw;
    z-index: 9000;
    transition: all .35s;
}